@media (max-width: 768px) {

  /* INTRO */
  .intro {
    height: 200px;
  }
  .intro h1 {
      padding-top: 80px;
      font-size: 16px;
  }
  .map {
    padding-left: 20px;
    padding-right: 20px;
  }

  .point-map {
    height: 800px;
  }

  .credits img {
    padding: 20px;
  }


}
