@media (max-width: 768px) {

  /* INTRO */
  .intro {
    height: 300px;
  }
  .intro h1 {
      padding-top: 100px;
  }
  .map {
    padding-left: 10px;
    padding-right: 10px;
  }

  .point-map {
    height: 800px;
  }

  .credits img {
    padding: 20px;
  }


}
