<div class="credits" id="credits">
  <div class="row">
    <div class="col-sm-1 col-sm-offset-3">
      <img src="img/dan-telvock1.jpg" class="img-responsive img-circle" />
    </div><!-- col-xs-1 -->
    <div class="col-sm-5">
        <p><strong>Dan Telvock</strong></p>
        <p>Dan Telvock is Investigate Post's award-winning environmental reporter.</p>
        <p>Email: dtelvock@investigativepost.org / Twitter: <a href="http://twitter.com/dantelvock">@dantelvock</a></p>
    </div><!-- col-xs-3 -->
  </div><!-- row -->
<br>
  <div class="row">
    <div class="col-sm-1 col-sm-offset-3">
      <img src="img/orbitist1.jpg" class="img-responsive img-circle" />
    </div><!-- col-xs-1 -->
    <div class="col-sm-5">
        <p><strong>Orbitist.com</strong></p>
        <p>Maps and interactive help provided by Orbitist.com. Orbitist uses multimedia storytelling and digital mapping technology to help people understand and explore the world around them.</p>
        <p>Email: support@orbitist.com / Twitter: <a href="http://twitter.com/orbitistllc">@orbitistllc</a></p>
    </div><!-- col-xs-3 -->
  </div><!-- row -->
</div><!-- credits -->
