<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Font Aweseome CSS -->
  <script src="https://use.fontawesome.com/a118b04c82.js"></script>

  <!-- IP Font CSS -->
  <link rel="stylesheet" type="text/css" href="https://www.investigativepost.org/webfonts/webfonts.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/medium_style.css">
  <link rel="stylesheet" href="css/small_style.css">

  <script src="//fast.wistia.com/embed/medias/atl821ixml.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
