<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:url"                content="http://interactive.investigativepost.org/lead-buffalo-2016/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Looking for Lead (in all the wrong places)" />
  <meta property="og:description"        content="How disparity, 'cheating' and potential conflicts plague Buffalo's sampling program for lead in drinking water" />
  <meta property="og:image"              content="http://interactive.investigativepost.org/lead-buffalo-2016/img/fb-image.jpg" />

  <link rel="apple-touch-icon" href="https://www.investigativepost.org/images/ipost-apple-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://www.investigativepost.org/images/apple-touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.investigativepost.org/images/apple-touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.investigativepost.org/images/apple-touch-icon-iphone4.png" />
  <link rel="shortcut icon" sizes="196x196" href="https://www.investigativepost.org/images/apple-touch-icon-iphone4.png" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Font Aweseome CSS -->
  <script src="https://use.fontawesome.com/a118b04c82.js"></script>

  <!-- IP Font CSS -->
  <link rel="stylesheet" type="text/css" href="https://www.investigativepost.org/webfonts/webfonts.css">

  <!-- Lightbox -->
  <link href="plugins/lightbox/dist/css/lightbox.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/medium_style.css">
  <link rel="stylesheet" href="css/small_style.css">

  <script src="//fast.wistia.com/embed/medias/atl821ixml.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
